.input__field {
    width: 100%;
    background: #e0aaff;
    padding: 12px 8px;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.input__field:focus-visible {
    outline: none;
}